
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300');

* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
}

/* ----------------------------------------
Header
------------------------------------------- */

header {
  background-image: url('../images/succulents.jpg');
  background-size: cover;
  background-position: bottom;
  height: 750px;
}

nav {
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
	z-index: 6;
  word-spacing: 60px;
  padding-top: 15px;
  text-transform: uppercase;
}

nav a {
  font-size: 21px;
}

.navbar {
  background-color: #ffffff;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-bottom-color: rgba(255, 255, 255, .05);
  box-shadow: 0 0 2px 0 #828282;
  height: 50px;
  position: fixed;
	z-index: 6;
  word-spacing: 60px;
  margin: 0;
  padding-top: 13px;
  transition: all .1s ease-in-out;
}

.myname {
  text-align: left;
  padding-top: 13px;
  margin-right: 700px;
  text-transform: uppercase;
  word-spacing: normal;
  display: none;
}

/* ----------------------------------------
Typography
------------------------------------------- */

h1 {
  font-size: 90px;
  padding-top: 150px;
  margin: 0 auto;
  color: #38251C;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  color: #38251C;
}

h2 {
  font-size: 40px;
  padding-top: 60px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:visited {
  color: #38251C;
  opacity: .70;
}

a:hover {
  color: #FDB03D;
  transition: all .08s ease-in-out;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */


#about {
  background-color: #FE5303;
  background-size: cover;
  background-position: center;
  height: 450px;
  margin-top: -33px;
  color: #38251C;
}

.skills {
  display: flex;
  justify-content: center;
  height: 300px;
}

#skills h2 {
  margin-top: -50px;
  font-size: 50px;
  color: #67A001;
}

#work {
  background-color: #E2BA03;
  height: 750px;
  margin-top: 0;
}

.projects {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------
Form
------------------------------------------- */
#contact {
  background-image: url('../images/coffee.jpg');
  background-size: cover;
  background-position: center;
  height: 730px;
  display: flex;
  justify-content: center;
  color: #302B2A;
}

form {
  text-align: center;
  width: 40%;
  margin-top: 100px;
  margin-right: 400px;
}

form h2 {
  margin-top: 0;
  font-size: 45px;

}

input, button, textarea {
  margin-bottom: 20px;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  padding: 7px 0 5px 5px;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  border-radius: 4px;
}

:placeholder-shown {
  text-transform: uppercase;
}

#message {
  padding-bottom: 70px;
}


/* ----------------------------------------
Buttons
------------------------------------------- */
form button {
  /*margin-left: 135px;*/
  /*display: block;
  text-align: center;*/
  margin: auto;
  width: 30%;
  height: 40px;
  padding-top: 5px;
  background-color: #E2BA03;
  opacity: .85;
  color: #ffffff;
  border-style: none;
  border-radius: 3px;
}

button:hover {
  opacity: 1;
}

/* ----------------------------------------
Footer
------------------------------------------- */

footer p {
  margin-top: -35px;
}

/* ----------------------------------------
Responsive Desgin
------------------------------------------- */

@media screen and (max-width: 1386px) {
  .myname {
    margin-right: 500px;
  }

  .navbar {
    word-spacing: 30px;
  }

  form {
    width: 40%;
  }
}


@media screen and (max-width: 1066px) {
  .myname {
    margin-right: 300px;
  }

  .navbar {
    word-spacing: 20px;
}

  form {
    width: 45%;
  }
}


@media screen and (max-width: 826px) {
  .myname {
    margin-right: 150px;
  }

  .navbar {
    word-spacing: 10px;
  }

  form {
    width: 50%;
  }
}


@media screen and (max-width: 730px) {
  .myname {
    margin-right: 70px;
  }

  nav a {
    font-size: 19px;
  }

  .navbar {
    word-spacing: 10px;
  }

  #work {
    height: auto;
  }

  .projects {
    flex-direction: column;
  }

  form {
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .myname {
    margin-right: 10px;
  }

  nav a {
    font-size: 16px;
  }

  nav {
    word-spacing: 50px;
  }

  .navbar {
    word-spacing: 5px;
  }
  form {
    width: 90%;
  }
}
